@font-face {
    font-family: 'Rubik Mono One';
    src:
        url(../fonts/RubikMonoOne-Regular.woff),
        url(../fonts/RubikMonoOne-Regular.eot);
    font-weight: 400;
}

@font-face {
    font-family: 'Myriad Pro';
    src:
        url(../fonts/MyriadPro-Regular.woff),
        url(../fonts/MyriadPro-Regular.eot);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src:
        url(../fonts/Roboto-Regular.woff),
        url(../fonts/Roboto-Regular.eot);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src:
        url(../fonts/Roboto-Light.woff),
        url(../fonts/Roboto-Light.eot);
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src:
        url(../fonts/Roboto-Bold.woff),
        url(../fonts/Roboto-Bold.eot);
    font-weight: 700;
}

.hidden,
input[type="checkbox"].hidden,
input[type="radio"].hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {box-sizing: inherit;}

html { overflow-x: hidden; }

body {
  background-color: #ffffff;
}

.frmo {
  font-family: 'Rubik Mono One', 'Lucida Console', sans-serif;
}

.frr {
  font-family: 'Roboto', "Trebuchet MS", "Helvetica CY", sans-serif;
}

.fmp {
  font-family: 'Myriad Pro', "Verdana", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 11px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 22px;
  }
}
@media (min-width: 1920px) {
  .container {
    padding: 0 375px;
  }
}

/* хедер */

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.header__mainlogo {
  width: 120px;
  height: 30px;
}

.menu__list {
  display: none;
}

@media (min-width: 768px) {
  .header {
    margin: 0 22px;
  }
  .header__logo {
    align-self: center;
  }

  .header__mainlogo {
    width: 156px;
    height: 39px;
  }
  .header__menu svg {
    display: none;
  }

  .menu__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
  }

  .menu__anchor {
    font-size: 12px;
    line-height: 80px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 700;

    padding: 5px;
  }

  .menu__anchor:visited {
    color: rgba(58, 48, 248, 0.7);
  }
  .menu__anchor:active {
    color: #3a30f8;
  }
  .menu__anchor:hover,
  .menu__anchor:focus {
    outline: solid 2px #3a30f8;
  }

  .menu__item:not(:last-child) {
    margin-right: 70px;
  }
}

@media (min-width: 1920px) {
  .header {
    margin: 0 375px;
  }
}

/* основное содержание */

.main {box-sizing: border-box;}

.main__screen {
  display: flex;
  background: url('../img/title-back-s.png') 0 0 no-repeat #b644fb;
  background-size: cover;
  width: 100vw;
  height: 135vw;
  margin-left: -11px;
}

.main__text {
  display: flex;
  flex-direction: column;
}

.main__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 11px;

  font-size: 9vw;
  color: #ffffff;
  margin-top: 42vw;
  width: 78vw;
}

.main__subtitle {
  position: relative;
  margin: 0;
  padding: 0 11px;
  width: 75vw;

  font-weight: 700;
  font-size:3.75vw;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 768px) {
  .main__screen {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20vw;
    width: 100vw;
    height:  98vw;
    background: url('../img/title-back-m.png') 35vw 0 no-repeat;
    background-size: cover;
    margin-bottom: 20vw;
  }

  .main__title {
    position: relative;
    margin: 0;
    margin-top: 33vw;
    margin-bottom: 20px;
    padding: 0 22px;

    font-size: 8vw;
    color: #000000;

    width: 70vw;
    order: 1;
    flex-shrink: 0;
  }

  .main__subtitle {
    position: relative;
    margin: 0;
    padding: 0 22px;
    width: 35vw;

    font-weight: 700;
    font-size:2vw;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000000;
    order: 2;
    flex-shrink: 0;
  }
}
@media (min-width: 1920px) {
  .main__screen {
    background: url('../img/title-back-l.png') 42vw 0 no-repeat;
    background-size: cover;

    margin-bottom: 10vw;

    height:  39vw;
  }

  .main__title {
    margin-top: 10.4vw;

    padding: 0;

    font-size: 4vw;

    width: 35vw;
  }

  .main__subtitle {
    padding: 0;
    width: 17vw;

    font-size:1vw;
  }
}

.section-title {
  margin: 0;
  margin-top: 30px;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 5.7;
  text-transform: uppercase;
  color: #3a30f8;
  text-align: center;
}

@media (min-width: 1920px) {
  .section-title {
    font-size: 20px;
  }
}

/* Первая секция */

@media (min-width: 768px) {
  .advantage {
    position: relative;
  }
  .advantage__title {
    position: absolute;
    left: 57.7vw;
    top:5vw;
    margin: 0;
    line-height: normal;
  }
}

@media (min-width: 1920px) {
  .advantage {
    padding-left: 38.8vw;
    background: url('../img/back-design-l.png') 0 0 no-repeat;
    background-size: 38.8vw 39vw;
  }
  .advantage__title {
    left: 44vw;
  }
}

.advantage__design {
  display: flex;
  flex-direction: column;
  padding: 30px 40px 80px;
}

@media (min-width: 768px) {
  .advantage__design {
    padding: 0;
    padding-left: 57.7vw;
    padding-top: 24.7vw;
    padding-bottom: 13vw;
    padding-right: 7.8vw;
    margin-bottom: 7.8vw;

    background: url('../img/back-design-m.png') 0 0 no-repeat;
    background-size: 48.7vw 78.1vw;
  }
}
@media (min-width: 1920px) {
  .advantage__design {
    padding: 0;
    padding-top: 10.4vw;

    background: none;
    width: 14vw;
    margin: 5.2vw;
  }
}

.advantage__subtitle {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  text-align: center;
  font-size: 24px;
}

@media (min-width: 768px) {
  .advantage__subtitle {
    text-align: left;
  }
}

@media (min-width: 1920px) {
  .advantage__subtitle {
    font-size: 40px;
  }
}

.advantage__text {
  margin: 0;
  padding: 0;

  font-size: 16px;
}

.advantage__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage__item {
  position: relative;
  padding-left: 38px;
  padding-bottom: 25px;

  font-size: 16px;
}

.advantage__item:last-child {
  padding-bottom: 0;
}

.advantage__item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  top: 20%;
  left: 0;
  background-color: #000000;
}

.design__text {
  margin-bottom: 35px;
}

/* COLOR */
.colorscheme__list {
  display: flex;
  position: relative;
  width: 100vw;
  height: 80vw;
  margin-top: 40px;
}

.advantage__color {
  display: flex;
  flex-direction: column;
  padding: 30px 0 80px 0;
}

.color__switcher {
  align-self: center;
}

.color__list {
  display: flex;
  justify-content: center;

  align-self: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.color__item {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: solid 3px #ffffff;

  cursor: pointer;

  margin-right: 40px;
}

.color__item--yellow {background-color: #e2e837;}
.color__item--blue {background-color: #00b6f1; }
.color__item--red {background-color: #e23232; }
.color__item--white {background-color: #f0efef; }
.color__item--black {background-color: black; }

/* начало слайдов */

.slider__switcher label:first-of-type {
}

.slider__switcher label:last-of-type {
  margin-right: 0;
}

.color__item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 47px;
  background-color: #cdcdcd;
  top: 36px;
  left: 50%;

  display: none;
}

#btn-1:checked ~  label[for="btn-1"]::after,
#btn-2:checked ~  label[for="btn-2"]::after,
#btn-3:checked ~  label[for="btn-3"]::after,
#btn-4:checked ~  label[for="btn-4"]::after,
#btn-5:checked ~  label[for="btn-5"]::after {
  display: block;
}

#btn-1:focus ~  label[for="btn-1"],
#btn-2:focus ~  label[for="btn-2"],
#btn-3:focus ~  label[for="btn-3"],
#btn-4:focus ~  label[for="btn-4"],
#btn-5:focus ~  label[for="btn-5"] {
  border: solid 3px #9045fe;
}

.color__item:hover {
  border: solid 3px #9045fe;
}

.color__text {
  margin: 0 30px 35px 30px;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0;
  width: 100vw;
  height: 80vw;
}

.slide--1 {
  background: url('../img/rizor-yellow-s.png') 0 0 no-repeat;
  background-size: cover;
}
.slide--2 {
  background: url('../img/rizor-blue-s.png') 0 0 no-repeat;
  background-size: cover;
}
.slide--3 {
  background: url('../img/rizor-red-s.png') 0 0 no-repeat;
  background-size: cover;
}
.slide--4 {
  background: url('../img/rizor-white-s.png') 0 0 no-repeat;
  background-size: cover;
}
.slide--5 {
  background: url('../img/rizor-black-s.png') 0 0 no-repeat;
  background-size: cover;
}

#btn-1:checked ~ .slider .slide--1,
#btn-2:checked ~ .slider .slide--2,
#btn-3:checked ~ .slider .slide--3,
#btn-4:checked ~ .slider .slide--4,
#btn-5:checked ~ .slider .slide--5 {
  z-index: 9;
  opacity: 1;
}

#btn-1:checked ~ .slider .slide--1,
#btn-2:checked ~ .slider .slide--2,
#btn-3:checked ~ .slider .slide--3,
#btn-4:checked ~ .slider .slide--4,
#btn-5:checked ~ .slider .slide--5 {
  z-index: 9;
  opacity: 1;
}

/* окончание слайдера */

/* COLOR 768 */
@media (min-width: 768px) {
  .advantage__color {
    flex-direction: row;

    margin-left: 12vw;
  }
  .color-text-wrapper {
    display:flex;
    flex-direction: column;
    margin-top: 12vw;
  }
}
@media (min-width: 768px) {
  .color__list {
    display: flex;
    flex-direction: column;

    height: 39vw;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 6.5vw;
    margin-left: 5.2vw;
    flex-shrink: 1;
    width: 44.8vw;
  }
  .slider__switcher label:first-of-type {
  }
}
@media (min-width: 768px) {
  .color__item {
    margin-left: 40px;
  }
}
@media (min-width: 768px) {
  .color__item--yellow {order: 1;}
  .color__item--blue {order: 2; }
  .color__item--red {order: 3; }
  .color__item--white {order: 4; }
  .color__item--black {order: 5; }
}
@media (min-width: 768px) {
  .color__item::after {
    width: 47px;
    height: 1px;
    top: 50%;
    left: -280%;
  }
}
@media (min-width: 768px) {
  .color__text {
    margin: 0;
    width: 176px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .colorscheme__list {
    width: 44.8vw;
    height: 39vw;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .slide {
    width: 44.8vw;
    height: 39vw;
  }
}
@media (min-width: 768px) {
  .slide--1 {
    background: url('../img/rizor-black-m.png') 0 0 no-repeat;
    background-size: cover;
    filter: sepia(1) saturate(300%) brightness(150%);
  }
  .slide--2 {
    background: url('../img/rizor-black-m.png') 0 0 no-repeat;
    background-size: cover;
    filter: sepia(1) saturate(300%) brightness(150%) hue-rotate(180deg);
  }
  .slide--3 {
    background: url('../img/rizor-black-m.png') 0 0 no-repeat;
    background-size: cover;
    filter: sepia(.8) saturate(400%) brightness(200%) hue-rotate(-49deg);
  }
  .slide--4 {
    background: url('../img/rizor-black-m.png') 0 0 no-repeat;
    background-size: cover;
    filter: invert(100%);
  }
  .slide--5 {
    background: url('../img/rizor-black-m.png') 0 0 no-repeat;
    background-size: cover;
  }
}
/* COLOR 1920 */
@media (min-width: 1920px) {
  .advantage__color {
    flex-direction: column;
    padding: 0;
    margin-left: 21vw;
    margin-top: -9vw;
    width: 19.3vw;
  }
  .color-text-wrapper {
  margin: 0;
  padding-left: 100px;
  }
}
@media (min-width: 1920px) {
  .color__list {
    height: 16vw;
    width: 19.3vw;
    flex-direction: row;
    margin: 0;
    flex-shrink: 0;
  }
  .slider__switcher label:first-of-type {
    margin-left: 100px;
  }
}
@media (min-width: 1920px) {
  .color__item--yellow {order: initial;}
  .color__item--blue {order: initial;}
  .color__item--red {order: initial;}
  .color__item--white {order: initial;}
  .color__item--black {order: initial;}
}
@media (min-width: 1920px) {
  .color__item::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 47px;
    background-color: #cdcdcd;
    top: 30px;
    left: 50%;

    display: none;
  }
}
@media (min-width: 1920px) {
  .color__item {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 55px;
  }
}
@media (min-width: 1920px) {
  .color__text {
    margin: 0;
    width: 220px;
  }
}
@media (min-width: 1920px) {
  .colorscheme__list {
    width: 19.5vw;
    height: 16vw;
  }
}
@media (min-width: 1920px) {
  .slide {
    width: 19.5vw;
    height: 16vw;
  }
}
@media (min-width: 1920px) {
  .slide--1 {
    background: url('../img/rizor-black-l.png') 0 0 no-repeat;
    background-size: cover;
  }
  .slide--2 {
    background: url('../img/rizor-black-l.png') 0 0 no-repeat;
    background-size: cover;
  }
  .slide--3 {
    background: url('../img/rizor-black-l.png') 0 0 no-repeat;
    background-size: cover;
  }
  .slide--4 {
    background: url('../img/rizor-black-l.png') 0 0 no-repeat;
    background-size: cover;
  }
  .slide--5 {
    background: url('../img/rizor-black-l.png') 0 0 no-repeat;
    background-size: cover;
  }
}

/* COLOR END */

.advantage__indicators {
  padding-bottom: 90vw;
  margin-bottom: 80px;

  background: url('../img/a-indicators-s.jpg') -11px bottom no-repeat;
  background-size: 100%;
}

@media (min-width: 768px) {
  .advantage__indicators {
    margin-left: 15vw;

    background: url('../img/a-indicators-m.png') 0 bottom no-repeat;
    background-size: 70vw 41.2vw;
    width: 70vw;
    padding-bottom: 45vw;
  }
}

@media (min-width: 1920px) {
  .advantage__indicators {

    background: url('../img/a-indicators-l.png') 70px bottom no-repeat;
    background-size: 100%;
    margin: 0;
    margin-left: -14vw;
    margin-right: 545px;
    width: 43.2vw;
    padding-bottom: 22.7vw;
    margin-bottom: 160px;
  }
}

.indicators__text {
  margin: 0 11px 18px 11px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .indicators__subtitle {

  }

  .indicators__text {
    margin: 0 11px 18px 11px;
    line-height: 1.4;
  }
}

@media (min-width: 1920px) {
  .indicators__subtitle {
  margin-left: 100px;
  }

  .indicators__text {
    margin: 0 0 22px 100px;
    width: 400px;
  }
}

.advantage__modes {
  padding-bottom: 100vw;
  margin-bottom: 80px;

  background: url('../img/a-modes-s.jpg') -11px bottom no-repeat;
  background-size: 100%;
}

.modes__text {
  font-weight: 300;
  margin: 0 30px 35px;
}

.modes__text--bold {
  font-weight: 700;
}

.modes__list {
  margin: 0 30px 35px;
}

@media (min-width: 768px) {
  .advantage__modes {
    background: url('../img/a-modes-m.png') right top no-repeat;
    padding: 0;
    margin: 0;
    margin-left: 95px;
    margin-bottom: 13vw;
  }
  .modes__subtitle {

  padding-top: 13.7vw;
  }
  .modes__text {

  margin: 0;
  margin-bottom: 30px;
  width: 220px;
  }
  .modes__text--bold {

  }
  .modes__list {

  margin: 0;
  margin-bottom: 35px;
  width: 220px;
  }
}

@media (min-width: 1920px) {
  .advantage__modes {
    margin-left: -19.8vw;
    background: url('../img/a-modes-l.png') right top no-repeat;
    padding-bottom: 15vw;
    margin-bottom: 150px;
  }
  .modes__subtitle {
    padding-top: 90px;
  }
  .modes__text {
    font-size: 18px;
    width: 385px;
  }
  .modes__text--bold {}
  .modes__list {width: 385px;}
  .modes__item {

  font-family: 'Roboto', "Trebuchet MS", "Helvetica CY", sans-serif;
  font-weight: 300;
  }
}

.advantage__description {
  margin: 0;
  margin-left: 30px;
}

.advantage__namepad {
  display: flex;
}

.advantage__name {
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  text-align: left;
}

.advantage__valuerow {
  display: flex;
}

.advantage__valuerow td:first-child {
  margin-left: -10px;
  flex-shrink: 0;
}

.advantage__valuerow td:last-child {
  flex-grow: 0;
}

.advantage__value {
  font-size: 40px;
  font-weight: 400;
  color: #3a30f8;
  letter-spacing: -5px;
  margin: 0;
  padding: 0;
}

.advantage__value--unit {
  font-size: 18px;
  letter-spacing: -1px;
  color: #3a30f8;
  padding-top: 20px;
}

.advantage__namepad th:first-child {
  flex-shrink: 0;
}

.modes__value--1 {
  width: 50vw;
  display: flex;
}

.modes__name--1 {
  width: 50vw;
}

@media (min-width: 768px) {
  .advantage__description {
    margin: 0;
  }

  .advantage__namepad {
    width: 250px;
  }

  .advantage__name {
  }

  .advantage__valuerow {
    width: 250px;
  }

  .advantage__valuerow td:first-child {
  margin-left: 0;
  }

  .advantage__valuerow td:last-child {
  }

  .advantage__value--unit {
    margin-left: 10px;
  }

  .advantage__namepad th:first-child {
  padding-bottom: 20px;
  }

  .modes__value--1 {
    width: 65%;
  }

  .modes__name--1 {
    width: 60%;
  }
}

@media (min-width: 1920px) {
  .advantage__description {
    margin: 0;
    margin-left: 30px;
    width: 370px;
  }

  .advantage__namepad {
  width: 370px;
  }

  .advantage__name {
    font-size: 16px;
  }

  .advantage__valuerow {
    width: 370px;
  }

  .advantage__valuerow td:first-child {
    flex-grow: 0;
  }

  .advantage__valuerow td:last-child {
  }

  .advantage__value {
    font-size: 60px;
  }

  .advantage__value--unit {
    font-size: 24px;
    padding-top: 26px;
  }

  .advantage__namepad th:first-child {
  padding: 0;
  }

  .electronics__namepad th:first-child {
  padding-right: 50%;
  }

  .modes__value--1 {
    width: 60%;
    display: flex;
  }

  .modes__name--1 {
  width: 50%;
  margin-right: 9%;
  }
}

/* BATTERY */
.advantage__battery {
  padding-bottom: 100vw;
  margin-bottom: 80px;

  background: url('../img/a-battery-s.png') -11px bottom no-repeat;
  background-size: 100%;
}

.battery__text {
  font-weight: 300;
  margin-bottom: 30px;
}

.battery__value {
  display: flex;
}

.battery__value--1 {
  margin-right: 40px;
  width: 40vw;
}

.battery__name--1 {
  margin-right: 40px;
  width: 40vw;
}

@media (min-width: 768px) {
  .advantage__battery {
    padding-left: 45.8vw;
    margin-bottom: 100px;

    background: url('../img/a-battery-m.png') left top no-repeat;
    background-size: 39.7vw 39vw;
    padding-bottom: 0;
  }

  .battery__subtitle {
  padding-top: 7vw;
  }

  .battery__description {
    margin-left: -36.3vw;
  }

  .battery__text {
  margin-right: 30px;
  }

  .battery__value {
    display: flex;
  }

  .battery__value--1 {
    width: 40%;
  }

  .battery__name--1 {
    width: 40%;
  }
}

@media (min-width: 1920px) {
  .battery {
  }

  .advantage__battery {

    background: url('../img/a-battery-l.png') left top no-repeat;
    background-size: 367px 300px;
    flex-direction: column;
    width: 26vw;
    display: flex;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    padding-top: 235px;
    margin-left: -19.3vw;
  }

  .battery__subtitle {
  order: 2;
  padding: 0;
  }

  .battery__description {
    margin-left: 0;
    order: 1;
    margin-bottom: 90px;
  }

  .battery__text {
  order: 2;
  font-size: 18px;
  line-height: 30px;
  margin-right: 0;
  }

  .battery__value {
    display: flex;
  }

  .battery__value--1 {
    width: 40%;
  }

  .battery__name--1 {
    width: 40%;
  }
}

/* ELECTRONICS */

.advantage__electronics {
  padding-right: 20px;
  margin-bottom: 80px;
  padding-bottom: 86.6vw;

  background:
              url('../img/play-s.png') left 50% bottom 39vw no-repeat, url('../img/a-electronics-s.jpg') 0 bottom no-repeat;
  background-size:
              60px 60px, 100vw 86.6vw;
}

.electronics__novideo {
  position: relative;
  width: 100vw;
  margin-left: -11px;
  background:
              url('../img/blue-triangle-s.png') 50% 50% no-repeat,
              url('../img/white-circle-s.png') 50% 50% no-repeat,
              url('../img/a-electronics-s.jpg') 0 0 no-repeat;
  background-size:
              28px 28px,
              60px 60px,
              cover;
}

.electronics__text {
  font-weight: 300;
  margin-bottom: 30px;
  padding-left: 30px;
}

.electronics__text--bold {
  font-weight: 700;
}

.electronics__description {
  margin-right: 30px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.electronics__value {
  width: 40%;
  position: relative;
}

.electronics__stub--1 {
  width: 54px;
  height: 42px;
  background: url('../img/power-s.png') center 0 no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
}

.electronics__stub--2 {
  width: 69px;
  height: 22px;
  background: url('../img/gyro-s.png') center 0 no-repeat;
  background-size: cover;
  position: relative;
  top: 50%;
}

.electronics__valuerow {
  justify-content: space-between;
  margin-bottom: 20px;
}

.electronics__valuerow  td:first-child {
  margin: 0;
}

.electronics__valuerow  td:last-child {
  flex-grow: 0;
}

.electronics__value--1 {

}

.electronics__value--2 {

  vertical-align: bottom;
  text-align: center;
}

.electronics__namepad {
  justify-content: space-between;
}

.electronics__name {
  width: 40%;
}

@media (min-width: 768px) {
  .advantage__electronics {
    margin: 0 73px 80px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background:
                url('../img/play-m.png') left 50% top 18vw no-repeat, url('../img/a-electronics-m.png') 0 0 no-repeat;
    background-size:
                60px 60px, 100% auto;
    padding-top: 45vw;
    max-height: 620px;
  }

  .electronics__subtitle {

  }

  .electronics__text {
    padding-left: 0;
    width: 279px;
  }

  .electronics__text--bold {
    font-weight: 700;
  }

  .electronics__description {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

  .electronics__tbody {
    display: flex;}

  .electronics__value {
  width: 100%;}

  .electronics__stub--1 {
  margin: 0 auto;}

  .electronics__stub--2 {
  top: 0;
  margin: 0 auto; }

  .electronics__valuerow {
  flex-direction: column;
  width: 83px;
  justify-content: flex-start;
  }

  .electronics__valuerow  td:first-child {
  margin-bottom: 95px;
  }

  .electronics__valuerow  td:last-child {
  }

  .electronics__value--1 {

  }

  .electronics__value--2 {

    vertical-align: bottom;
    text-align: center;
  }

  .electronics__namepad {
    justify-content: flex-start;
    flex-direction: column;
    margin-left: -80px;
    width: 83px;
  }

  .electronics__name {
  width: 83px;
  margin-top: 60px;
  }
}

@media (min-width: 1920px) {
  .advantage__electronics {

  margin: 0;
  padding: 0;
  background: url('../img/play-m.png') left 50% bottom 100px no-repeat, url('../img/a-electronics-l.png') 0 bottom no-repeat;
  background-size: 100px 100px, 400px 280px;
  padding-bottom: 340px;
  margin-top: -800px;
  margin-left: 300px;
  margin-bottom: 200px;
  width: 400px;
  max-height: 735px;
  flex-wrap: nowrap;
  }

  .electronics__novideo {

  }

  .electronics__text {

  width: 430px;
  font-size: 18px;
  line-height: 1.5;
  }

  .electronics__text--bold {

  }

  .electronics__description {

  width: 400px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  }

  .electronics__tbody {
    display: table;
  }

  .electronics__value {

  }

  .electronics__stub--1 {

  margin: 0;
  background: url('../img/power-l.png') center 0 no-repeat;
  background-size: cover;
  width: 76px;
  height: 60px;
  }

  .electronics__stub--2 {

  top: initial;
  bottom: 1px;
  margin: 0;
  margin-top: 30px;
  width: 98px;
  height: 32px;
  }

  .electronics__valuerow {

  width: 400px;
  margin: 0;
  flex-direction: row;
  margin-bottom: 25px;
  }

  .electronics__valuerow  td:first-child {

  margin: 0;
  width: 50%;
  }

  .electronics__valuerow  td:last-child {

  width: 50%;
  }

  .electronics__value--1 {

  }

  .electronics__value--2 {

  flex-shrink: 0;
  }

  .electronics__namepad {width: 400px;margin: 0;flex-direction: row;}

  .electronics__name {

  margin: 0;
  width: 50%;
  padding-right: 50%;
  }
}

/* вторая секция */

.specifications__title {

}

.specifications__logotitle {
  margin: 0 60px 35px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .specifications {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
  }

  .specifications::before {
    content: url('../img/scooter-m.png');
    position: absolute;
    width: 403px;
    height: 375px;
    left:0;
    top:0;
  }

  .specifications__title {
    width: 100%;
    text-align: left;
    padding: 0;
    padding-left: 60vw;
    margin: 0;
    line-height: normal;
    margin-bottom: 75px;
  }

  .specifications__logotitle {
    margin: 0;
    text-align: left;
    font-size: 24px;
    line-height: 1.5;
    width: 200px;
    align-self: flex-end;
    margin-right: 95px;
    margin-bottom: 105px;
  }
}

@media (min-width: 1920px) {
  .specifications__title {
  }

  .specifications__logotitle {
  }
}

.specifications__subtitle {
  margin: 0;
  padding-top: 19vw;

  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.specifications__sublogo {
  background-position: center top;
  background-size: auto 16vw;
  background-repeat: no-repeat;

  margin-bottom: 35px;
}

.specifications__shell {
  background-image: url('../img/body.png');
}

.specifications__text {
  font-size: 14px;
  line-height: 2.5;
  font-weight: 300;
  text-align: center;
}

.specifications__bold {
  font-weight: 700;
}

.specifications__wheels {
  background-image: url('../img/wheels.png');
}

.specifications__power {
  background-image: url('../img/power.png');
}

.specifications__weight {
  background-image: url('../img/weight.png');
}

@media (min-width: 768px) {
  .specifications__subtitle {
    padding-top: 75px;

    text-align: left;
  }

  .specifications__sublogo {
    background-position: left top;
    background-repeat: no-repeat;

    width: 49%;
    margin: 0;
    padding: 0;
    background-size: auto 53px;
  }

  .specifications__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 95px;
    margin-bottom: 145px;
  }

  .specifications__shell {
    background-image: url('../img/body.png');
  }

  .specifications__text {
    text-align: left;
    line-height: 1.5;
  }

  .specifications__bold {
    font-weight: 700;
  }

  .specifications__wheels {
    background-image: url('../img/wheels.png');
  }

  .specifications__power {
    background-image: url('../img/power.png');
  }

  .specifications__weight {
    background-image: url('../img/weight.png');
  }
}

/* Третья секция */

.target-group {
  position: relative;
  margin: 0;
  padding-top: 33vw;
}

.target-group__sublogo {
  position: absolute;
  width: calc(100vw - 22px);
  height: 100vw;

  top: 0;

  background: url('../img/sublogo-tg.png') 0 0 no-repeat;
  background-size: cover;
}

.target-group__logotitle {
  color: #a598f6;
  font-size: 17.6vw;
  text-align: right;
}

.target-group__title {
  color: #ffffff;
}

.target-group__description {
  padding-top: 50vw;
  background-color: #3a30f8;
}

.target-group__text {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 16px;
}

.target-group__bold {
  font-weight: 700;
}

.btn {
  margin: 0 auto;
  padding: 5px 15px;
  text-align: center;

  background-color: #ffffff;
  border-radius: 15%/85%;

  font-size: 4.4vw;
  line-height: 2;
  font-weight: 700;
  color: #3a2ff8;
  box-shadow: 0 1vw 5px 0 #2f26c8;
}

.btn--to-catalog {
  width: 76vw;
  position: relative;
  margin: 35px calc(12vw - 11px) 80px;
}

/* Футер */

.footer {
  background-color: #292929;
  box-sizing: border-box;
}

.footer__copyright {
  margin: 0;
  font-size: 3.75vw;
  line-height: 2.5;
  font-weight: 300;
  text-align: center;
  color: #605f5f;
}
